.resume {
    min-width: 960px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 25% 1fr;
    margin: 30px auto;
    background: #fff;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.left {
    background: #1E2939;
}

.left div {
    margin: 60px 40px;
}

.left h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 54px;
}

.photo {
    padding: 40px 0;
    width: 100%;
}

.contacts li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.contacts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.phone, .e_mail {
        color: grey;
}

.phone::before {
    color: white;
    opacity: 1;
    content: 'C:';
    padding-right: 10px;
}

.e_mail::before {
    color: white;
    opacity: 1;
    content: 'E:';
    padding-right: 10px;
}

.tech-skils,
.soft-skils {
    color: white;
}

.tech-skils li,
.soft-skils li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    list-style-type: none;
}

.tech-skils li::before,
.soft-skils li::before {
    color: red;
    content: "▪";
    padding-right: 10px;
}


/* MAIN */

.main {
    margin-top: 102px;
}

.main section {
    padding: 20px 100px;
}

.main h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 110px;
    color: #000000;
}

.main h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 54px;
    color: #000000;
}

.main h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
}

.main h3 span {
    color: #FB6D3A;
}


.main h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;
    color: #000000;
}

.intro p {
    max-width: 400px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects ul {
    max-width: 485px;
    padding-left: 14px;
}

.projects li {
    list-style-type: decimal;
    padding-left: 10px;
}

.projects a:after {
    content: ' _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ ';
    color: #A8A8A8;
    white-space: nowrap;
    overflow: hidden;
}

.projects li a {
    float: left;
    color: #595959;
    width: 300px;
    overflow: hidden;
}

.projects li span {
    float: left;
    color: #595959;
    overflow: hidden;
}

.projects li span::before {
    content: '[';
    color: #000000;
    padding-left: 5px;
}

.projects li span::after {
    content: ']';
    color: #000000;
}


.projects li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


.work div {
    padding-top: 10px;
}

.work li {
    max-width: 525px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 20px;
}

.work li::before {
    content: '•';
    margin-left: -20px;
    padding-right: 16px;

}

.date {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.date span {
    color: #000000;
}